body {
    margin: 0;
    padding: 0;
}

.p-mdt-sys,
.p-mdt-sys * {
    box-sizing: border-box;
}

.p-mdt-sys {
    min-width: 600px;
    max-width: 910px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'TT Norms Pro';
    color: #000000;
    font-size: 16px;
}

.p-mdt-sys-section-header {
    margin-bottom: 30px;
}

.p-mdt-sys-section-title {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.06em;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}

.p-mdt-sys-header {
    position: relative;
    background: #101010;
    padding-top: 5px;
    height: 200px;
    overflow: hidden;
    z-index: 1;
}

.p-mdt-sys-header__bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
}

.p-mdt-sys-header__logo {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.p-mdt-sys-header__title {
    text-align: center;
    font-size: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.p-mdt-sys-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.p-mdt-sys-about__item {
    position: relative;
    padding: 30px 20px 45px 20px;
    overflow: hidden;
    background-color: #fff;
    z-index: 1;
}

.p-mdt-sys-about__item-inner {
    display: grid;
    grid-gap: 15px;
}

.p-mdt-sys-about__item--1:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    width: 400px;
    height: 400px;
    background-color: #F0F0F0;
    border-radius: 100%;
    z-index: -1;
}

@media (min-width: 768px) {
    .p-mdt-sys-about__item--1:before {
        width: 450px;
        height: 450px;
    }
}

.p-mdt-sys-about__item--2 {
    display: grid;
    align-items: flex-end;
    background: #F0F0F0;
}

.p-mdt-sys-about__item--2:before {
    content: '';
    position: absolute;
    right: -15%;
    top: -25%;
    width: 200px;
    height: 200px;
    background-color: #FC2B4A;
    border-radius: 100%;
    z-index: -1;
}

.p-mdt-sys-about__item-description {
    max-width: 200px;
    margin: 0;
}

@media (min-width: 768px) {
    .p-mdt-sys-about__item-description {
        max-width: 300px;
    }
}

.p-mdt-sys-cases {
    padding-top: 30px;
}

.p-mdt-sys-cases__header {
    padding-left: 20px;
}

.p-mdt-sys-cases__title {
    max-width: 400px;
}

.p-mdt-sys-cases__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .p-mdt-sys-cases__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.p-mdt-sys-cases__item {
    position: relative;
    font-size: 14px;
    line-height: 20px;
}

.p-mdt-sys-cases__item-header {
    margin-bottom: 15px;
}

.p-mdt-sys-cases__item-header img {
    display: inline-block;
    height: 70px;
}

.p-mdt-sys-cases__item-number {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.06em;
    color: #BABABA;
}

.p-mdt-sys-cases__item-title {
    font-size: 19px;
    line-height: 28px;
    letter-spacing: -0.06em;
    margin-top: 0;
    margin-bottom: 15px;
}

.p-mdt-sys-cases__item-content {
    margin-top: 0;
    margin-bottom: 15px;
}

.p-mdt-sys-cases__item-link {
    color: #FC2B4A;
    text-decoration: none;
    cursor: pointer;
}

.p-mdt-sys-cases__item-front .p-mdt-sys-cases__item-header {
    text-align: right;
}

.p-mdt-sys-cases__item-front,
.p-mdt-sys-cases__item-back {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background-color: #fff;
    color: #101010;
}

.p-mdt-sys-cases__item-back {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all ease 0.3s;
}

.p-mdt-sys-cases__item:hover .p-mdt-sys-cases__item-back {
    opacity: 1;
    visibility: visible;
}

.p-mdt-sys-cases__item--black .p-mdt-sys-cases__item-front {
    background-color: #000000;
    color: #fff;
}

.p-mdt-sys-cases__item--news .p-mdt-sys-cases__item-header img {
    height: 17px;
}

.p-mdt-sys-cases__item--news .p-mdt-sys-cases__item-footer {
    text-align: right;
}

.p-mdt-sys-cases__item--news .p-mdt-sys-cases__item-footer img {
    height: 70px;
    margin-top: 15px;
}

.p-mdt-sys-cases__item--grey .p-mdt-sys-cases__item-front,
.p-mdt-sys-cases__item--grey .p-mdt-sys-cases__item-back {
    background-color: #F0F0F0;
}

@media (min-width: 768px) {
    .p-mdt-sys-cases__item--grey .p-mdt-sys-cases__item-front,
    .p-mdt-sys-cases__item--grey .p-mdt-sys-cases__item-back {
        background-color: #fff;
    }

    .p-mdt-sys-cases__item--sm-grey .p-mdt-sys-cases__item-front,
    .p-mdt-sys-cases__item--sm-grey .p-mdt-sys-cases__item-back {
        background-color: #F0F0F0;
    }
}